.Product{
    width:40%;
    display: inline-block;
    margin: 16px 10px;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;
    text-align: center;
}
.Product button{
    padding: 10px;
    font: inherit;
    display: inline;
    margin:10px;
    cursor: pointer;
}
.red{
    color: black;
    background: red;
}
.update{
    background: rgb(46, 121, 192);
}
.cart{
    background: chocolate;
}